
body {
    background: #86e2e2;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #f5f5f5; 
    padding: 20px; 
    box-shadow: 0 0 20px; 
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4); 
}

h1 {
    font-family: cursive;
    text-align: center; 
    align-items: center;
    color: #24262b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}

.paragraph {
    margin-bottom: 20px;
    color: #24262b; 
}

label {
    font-weight: bold;
    color: #24262b;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #bfbfbf; 
    border-radius: 8px; 
    box-sizing: border-box;
}

.btn-container {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #24262b;; 
    color:#ffffff; 
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 12px 20px;
    font-size: 20px;
}

.btn:hover {
    background-color: #24262b; 
}
.error-message {
    color: red;
}