
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #86e2e2;
}

.about .heading {
  text-align: center;
  font-size: 48px;
  font-family: cursive;
  color: black;
  padding: 1rem;
  margin: 2rem 0;
  background: #ffffff;
}

.heading span {
  color: #e91e63;
}


.about {
  padding: 2rem;
}

.row {
  display: none;
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 48px;
}

.container {
  display: flex;
  gap: 2rem; 
}

.video-container {
  flex: 0 0 auto;
  width: 400px;
  height: 25%;
}

.content {
  flex: 1 1 50%;
 
}

.video-container video {
  width: 100%;
  height: auto;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .video-container,
  .content {
    flex: 1 1 100%;
  }
}

h3 {
  font-size: 2rem;
  color: #333;
}

p {
  color: #666;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--pink);
  color: #ff3300;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff338d;
}


.staff-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 3rem;
  font-family: "Amatic SC", cursive;
}

.staff-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.staff-member {
  text-align: center;
  margin-right: 10px;
}

.staff-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.staff-member p {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #555;
}


.middle {

  display: flex;
} 

.list {
  width: 60%;
  margin-left: 200px;
  
}
.img {

  width:40%;

}
.offer {
  font-size: 35px;
  color: #e91e63;
}



.service {
  list-style: none;
}


.service li {
  font-family: 'Arial', sans-serif; 
  font-size: 22px;
  color: #333; 
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease; 
}


.service li:hover {
  box-shadow: 0 0 20px  #e91e63;}