body {
    background: #86e2e2 ;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}


h2 {
    color: rgb(59, 33, 28);
    font-size: 24px;
    margin-bottom: 10px;
}
.animal-details {
    border: 2px solid rgb(59, 33, 28);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
}
.animal-image {
    max-width: 50%; 
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
.adopt-button {
    display: inline-block;
    padding: 12px 35px;
    background-color: #24262b; 
    color:#fff; 
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 12px 20px;
    font-size: 16px;
}
.adopt-button:hover{

    background-color: #46403e; 
    border:none ;
    border-radius :10px ;
}

p{
    font-size: 18px;
}
h2{
    font-family: cursive;
    font-size: 26px;
    text-align: center;
}