

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: white;
}

table th, table td {
    padding: 6px;
    text-align: left;
}

table th {
    background-color: #24262b;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

input[type="text"],
input[type="url"],
textarea {
    width: calc(100% - 20px);
    padding: 6px;
    margin: 5px 0;
    box-sizing: content-box;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #c2185b;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #ba1452;
}

#information {
    color: #c2185b;
    font-weight: bold;
}

#addpet {
    margin-top: 20px;
    margin: 20px;
}
